/* ===== STYLE GLOBAL ===== */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #1e90ff, #2ecc71);
  min-height: 100vh;
}

/* ===== CONTENEUR GENERAL ===== */
.container {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 360px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  margin: auto;
  margin-top: 80px;
}

/* ===== TITRES ===== */
h1, h2 {
  text-align: center;
  color: #1e90ff;
  margin-bottom: 20px;
}

/* ===== FORMULAIRES ===== */
form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

/* ===== BOUTONS ===== */
button {
  width: 100%;
  padding: 12px;
  background: #2ecc71;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #27ae60;
}

/* ===== MESSAGE RESULTAT ===== */
#result {
  text-align: center;
  margin-top: 10px;
  color: green;
  font-weight: bold;
}

/* ===== PAGE INDEX (NAVIGATION) ===== */
.home-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 40px;
}

.home-buttons button {
  width: 160px;
  font-size: 18px;
}
/* ===== TABLE ADMIN ===== */
table {
  width:100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  background: #1e90ff;
  color: white;
}

tr:nth-child(even) {
  background: #f2f2f2;
}
